<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="notice : ${notices}">
  <td th:text="${notice.noticeId}"></td>
  <td th:text="${notice.noticeTitle}"></td>
  <td th:text="${notice.noticeContent}"></td>
  <td th:text="${notice.noticeDate}"></td>
  <td>
      <a href="#" th:href="@{/notice/list/{noticeId}/edit (noticeId=${notice.noticeId})}" role="button">수정</a>
      <a href="#" th:href="@{/notice/list/{noticeId}/delete (noticeId=${notice.noticeId})}" role="button">삭제</a>
  </td>
</tr>
</body>
</html>